body{
  font-size: 14px;
}

header, main, footer {
  margin: 10px;
  padding: 20px;
  border: solid 5px #CCCCCC;
}

h1{
  /* font-size: 5em; */
  color: Green;
  background-color: lightpink;
  border: solid 2px red;
  text-align: center;
  /* width: 90vw; */
  padding: 20px;
  /* margin: 40px; */
}

.content {
  display: inline-block;
  width: 28%;  /* 부모 요소 너비의 30%로 설정 */
  height: 100%;
  border: solid 1px black;
  margin: 10px;
  padding: 5px;
}

#m1{
  border: solid 3px black;
}

article[id="m2"] { /* ==> #m2와 동일 */
  color: blue
} 

article div::before {  /* article 안에 있는 div만 적용해줘. */
  content: '[영화소개] ';
  font-weight: 900;
  color: darkgreen;
}

div::after {
  content: ' (더보기)';
  font-style: italic;
  color: gray;
}

a {
  text-decoration: none;
  color: darkred;
}

a:visited {
  color: orange;
}

a:hover {  /* hover => hand over의 줄임말 */
  background-color: blue;
  color: white;
}

a:active {
  background-color: darkred;
  color: white;
}
